.module-content {
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 5rem;
    // table {
    //     width: max-content;
    //     white-space: nowrap;
    //     border-collapse: separate;
    //     border-spacing: 1rem 2em;
    //     tbody{
    //         font-size: 20px;
    //         font-family: 'Courier New', Courier, monospace;
    //         color: #000;
    //         font-weight: bolder;
    //     }
    // }
    // .table-header {
        
    //     background-color: rgba(0, 0, 255, 0.5);
    // }

}
